@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/Font/AvenirNextLTPro-Regular.otf') format('woff2'),
        url('../../assets/Font/AvenirNextLTPro-Regular.otf') format('woff');
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/Font/AvenirNextLTPro-Bold.otf') format('woff2'),
        url('../../assets/Font/AvenirNextLTPro-Bold.otf') format('woff');
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/Font/AvenirNextLTPro-Demi.otf') format('woff2'),
        url('../../assets/Font/AvenirNextLTPro-Demi.otf') format('woff');

}