@use './partials/variables' as *;
@use './partials/typography' as *;
@use './partials/mixins' as *;



body,
html {
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'AvenirNext LT Pro';
    background-color: $Alabaster;
}



.header {
    display: flex;
    flex-direction: column;
    background-color: $BandSite-Black;
    align-items: center;

    @include tablet {
        display: flex;
        flex-direction: row;
        height: 3.75rem;
    }

    &__image {
        display: flex;
        padding-top: 1.5rem; 

        @include tablet {
            display: flex;
            flex-direction: row;
            padding-left: 2.25rem;
            padding-top: 0;
            padding-right: 2.25rem;

        }
    }

    &__nav {
        list-style-type: none;
        color: $White;
        display: flex;
        width: 100%;
        justify-content: space-between;

        @include tablet {
            display: flex;
            flex-direction: row;
            width: 20%;  
            padding-top: 0.3rem;
        }

        &-item1 {
            text-align: center;
            width: 50%;
            padding-bottom: 1.4rem;
            padding-top: .69rem;
            text-decoration: none;
            color: $White;


            &:hover {
                border-bottom: .1875rem solid $White;
            }

            &:active {
                border-bottom: .1875rem solid $White;
                font-weight: bold;
            }
        }

        &-item2 {
            text-align: center;
            width: 50%;
            padding-bottom: 1.4rem;
            padding-top: .69rem;
            text-decoration: none;
            color: $White;

            &:hover {
                border-bottom: .1875rem solid $White;
            }

            &:active {
                border-bottom: .1875rem solid $White;
                font-weight: bold;
            }
        }
    }
}





.hero {
    position: relative;
    background-position: center;
    background-size: cover;

    &__image {
        width: 100%;
        height: auto;
    }

    &__div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 98%;
        background-color: $BandSite-Black;
        opacity: 50%;
        display: flex;
        align-items: center;

        @include tablet {
            height: 99%;
        }
    }

    &__title {
        position: absolute;
        top: 35%;
        left: 0;
        color: $White;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        margin-left: 1rem;

        @include tablet {
            font-size: 3.75rem;
            line-height: 4.25rem;
            font-weight: 700;
            margin-left: 2.25rem;
        }
    }
}

.first-block {
    background-color: $White;

    @include tablet {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

.intro__title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: $BandSite-Black;

    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 700;
        margin-left: -2rem;
    }
}

.intro {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include tablet {
        margin: 0;
        padding: 0;
    }

    &__image {
        width: 100%;
        height: 49vw;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    &__paragraph {
        margin-top: 0;
        margin-bottom: 0;
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.375rem;
        color: $BandSite-Black;

        @include tablet {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.375rem;
        }
    }

    &__paragraph-one {
        font-weight: 600;
        font-size: .8125rem;
        color: $BandSite-Black;


        @include tablet {
            font-size: .875rem;
            font-weight: 600;
            line-height: 1.375rem;
        }
    }
}

.about {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;

    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__title {
        margin-top: 0;
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.375rem;
        color: $BandSite-Black;

        @include tablet {
            margin-top: 3rem;
        }
    }

    &__paragraph {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.125rem;
    }

    &__text {
        margin-top: 0;
        margin-bottom: 0;
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.125rem;
    }
}

.gallery__title {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
    padding-right: 1rem;
    color: $BandSite-Black;

    @include tablet {
        margin-top: 3rem;
        margin-left: 1.8rem;
        margin-bottom: 2.25rem;
        margin-right: 2.25rem;
    }
}

.gallery {
    margin-left: 1rem;
    margin-top: 1.5rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include tablet {

        flex-direction: row;
        flex-wrap: wrap;
    }

    &__container {
        padding-bottom: 1rem;

        @include tablet {
            width: 30%;
        }
    }

    &__image {
        width: 100%;
        height: auto;
    }
}




#form-section {
    background-color: $White;

}
.form-section__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: $BandSite-Black;
    margin-bottom: 1rem;
    margin-left: 1rem;
    // margin-top: 1.5rem;
    padding-top: 1.5rem;

    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
        margin-bottom: 2.25rem;
        margin-left: 2.25rem;
        // margin-top: 3rem;
        padding-top: 3rem;
    }

    @include desktop {
        font-size: 2.25rem;
        line-height: 2.75rem;
        margin-bottom: 2.25rem;
        margin-left: 2.25rem;
        margin-top: 3rem;
    }
}

.feedback {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    border-bottom: .0625rem solid $Mercury;

    @include tablet {
        justify-content: flex-start;
        margin-right: 2.25rem;
    }

    @include desktop {
        margin-left: 25%;
        margin-right: 25%;
    }
}


.feedback__block-one{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form-field {
    padding: .75rem;
    border-radius: .25rem;
    border: .0625rem solid $Mercury;
    background-color: $Alabaster;

    @include tablet {
        padding: 1rem;
    }
    @include desktop {
        padding: 1rem;
    }

}

::placeholder {
    color: $BandSite-Black;
}


.feedback__block-two {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 3.4rem;
}

.feedback__photo {
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-top: 1.2rem;
    margin-right: .625rem;

    @include tablet {
        height: 3rem;
        width: 3rem;
    }

    @include desktop {
        height: 3rem;
        width: 3rem;
    }
}


.feedback__label {
    color: $Silver;
    font-size: .625rem;
    line-height: 1.25rem;
    font-weight: 700;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
}


.feedback__btn {
    background-color: $BandSite-Black;
    color: $White;
    height: 2.5rem;
    width: 100%;
    border-radius: .25rem;
    margin-bottom: 1rem;
    font-weight: 600;

    @include tablet {
        width: 30%;
        margin-left: 70%;
    }

    @include desktop {
        width: 30%;
        margin-left: 70%;
    }
}

#our-reviews {
    padding-bottom: 1rem;
    background-color: $White;

    @include tablet {
        padding-bottom: 2.25rem;
    }

    @include desktop {
        padding-bottom: 2.25rem;
    }
}

.review__card {
    border-bottom: .0625rem solid $Mercury;
    display: flex;
    gap: 1rem;
    margin-left: 1rem;

    @include desktop {
        margin-left: 25%;
        margin-right: 25%;
    }
}

.review__text-container {
    display: flex;
    flex-direction: column;
    
}
.review__name {
    font-weight: 700;
    color: $BandSite-Black;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.review__text {
    font-weight: 400;
    color: black;
    margin-top: 0;
}

.review__picture {
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-top: 1.2rem;
    background-color: $Mercury;

    @include tablet {
        height: 3rem;
        width: 3rem;
    }

    @include desktop {
        height: 3rem;
        width: 3rem;
    }
}


.review__date {
    display: flex;
    justify-content: space-between;
}

.review__date-text {
    color: $Mercury;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}



.footer {
    background-color: $BandSite-Black;
    position: relative;

    &__block {
        display: flex;
        flex-direction: column;

        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__block-two {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            margin-left: 2.25rem;
            margin-right: 2.25rem;
        }
    }

    &__title {
        color: $White;
        padding-top: 1.5rem;
        padding-left: 1rem;

        @include tablet {
            font-size: 2.25rem;
            line-height: 2.75rem;
            font-weight: 600;
            padding-left: 2.25rem;
            padding-top: 2.25rem;
            width: 30%;
        }
    }

    &__images {
        padding-left: 1rem;
        padding-top: 0;
        padding-bottom: 1rem;
        width: 40%;
        display: flex;
        justify-content: space-between;

        @include tablet {
            width: 1.25rem;
            height: 1.25rem;
            display: flex;
            gap: 1.25rem;
            padding-top: 3rem;
        }
    }

    &__subheader {
        color: $White;
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.375rem;
        padding-top: 0;
        padding-left: 1rem;
        padding-bottom: 1rem;

        @include tablet {
            font-size: .875rem;
            line-height: 1.25rem;
        }
    }

    &__address {
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.125rem;
        font-weight: 400;
        color: $White;
        padding-top: 0;
        padding-left: 1rem;
        padding-bottom: 1rem;

        @include tablet {
            font-size: .875rem;
            line-height: 1.25rem;
        }
    }

    &__email {
        @extend .footer__address;
        padding-top: 0;

        @include tablet {
            font-size: .875rem;
            line-height: 1.25rem;
        }
    }

    &__booking {
        @extend .footer__email;

        @include tablet {
            font-size: .875rem;
            line-height: 1.25rem;
        }
    }

    &__logo-container {
        display: flex;

        @include tablet {
            display: flex;
            position: absolute;
            top: 3rem;
            right: 2.25rem;
        }
    }

    &__logo {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        height: 1.25rem;
        width: 7.5rem;
    }

    &__copyright {
        padding-left: 1rem;
        padding-top: 0;
        padding-bottom: 1rem;
        color: $White;
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.125rem;

        @include tablet {
            padding-left: 3rem;
            padding-bottom: 2.25rem;
            font-size: .875rem;
            line-height: 1.25rem;
        }
    }

    &__info-one {
        display: flex;
        flex-direction: column;
    }

    &__info-two {
        @extend .footer__info-one;
    }

    &__info-three {
        @extend .footer__info-one;
    }
}