@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "AvenirNext LT Pro";
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    height: 3.75rem;
  }
}
.header__image {
  display: flex;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .header__image {
    display: flex;
    flex-direction: row;
    padding-left: 2.25rem;
    padding-top: 0;
    padding-right: 2.25rem;
  }
}
.header__nav {
  list-style-type: none;
  color: #FFFFFF;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    flex-direction: row;
    width: 20%;
    padding-top: 0.3rem;
  }
}
.header__nav-item1 {
  text-align: center;
  width: 50%;
  padding-bottom: 1.4rem;
  padding-top: 0.69rem;
  text-decoration: none;
  color: #FFFFFF;
}
.header__nav-item1:hover {
  border-bottom: 0.1875rem solid #FFFFFF;
}
.header__nav-item1:active {
  border-bottom: 0.1875rem solid #FFFFFF;
  font-weight: bold;
}
.header__nav-item2 {
  text-align: center;
  width: 50%;
  padding-bottom: 1.4rem;
  padding-top: 0.69rem;
  text-decoration: none;
  color: #FFFFFF;
}
.header__nav-item2:hover {
  border-bottom: 0.1875rem solid #FFFFFF;
}
.header__nav-item2:active {
  border-bottom: 0.1875rem solid #FFFFFF;
  font-weight: bold;
}

.hero {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.hero__image {
  width: 100%;
  height: auto;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background-color: #323232;
  opacity: 50%;
}
.hero__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__text {
  position: absolute;
  color: #FFFFFF;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
@media screen and (min-width: 768px) {
  .hero__text {
    top: 15%;
    padding-top: 3rem;
    padding-left: 2.25rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
  }
}
.hero__title {
  position: absolute;
  color: #FFFFFF;
  padding-top: 1.5rem;
  top: 17%;
  padding-left: 1.5rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__title {
    top: 25%;
    padding-top: 3rem;
    padding-left: 2.25rem;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
  }
}
.hero__music {
  position: absolute;
  top: 55%;
  padding-left: 1.5rem;
  width: 90%;
  height: 30%;
}
@media screen and (min-width: 768px) {
  .hero__music {
    padding-left: 2.25rem;
    width: 60%;
    height: 30%;
  }
}

.shows__title {
  padding-left: 1rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .shows__title {
    padding-top: 3rem;
    padding-left: 3rem;
  }
}

#band-shows {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.show {
  border-bottom: 0.0625rem solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .show {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
}
.show:hover {
  background-color: #FAFAFA;
}
.show:active {
  background-color: #E1E1E1;
}

@media screen and (min-width: 768px) {
  .show-div {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .show-btn {
    width: 15.625rem;
    display: flex;
    align-items: flex-end;
  }
}

.label {
  color: #AFAFAF;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .show:not(:first-of-type) .label {
    display: none;
  }
}
.scheduled-date {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.scheduled-venue, .scheduled-location {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.show-button {
  background-color: #323232;
  color: #FFFFFF;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.solid {
  border-top: 0.0625rem solid #E1E1E1;
}

/* footer section */
.footer {
  background-color: #323232;
  position: relative;
  margin-top: 1rem;
}
.footer__block {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__block {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.footer__block-two {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__block-two {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
.footer__title {
  color: #FFFFFF;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding-left: 2.25rem;
    padding-top: 2.25rem;
    width: 30%;
  }
}
.footer__images {
  padding-left: 1rem;
  padding-top: 0;
  padding-bottom: 1rem;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__images {
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    gap: 1.25rem;
    padding-top: 3rem;
  }
}
.footer__subheader {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  padding-top: 0;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__subheader {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__address, .footer__email, .footer__booking {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 0;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__address, .footer__email, .footer__booking {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__email, .footer__booking {
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  .footer__email, .footer__booking {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__booking {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__logo-container {
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer__logo-container {
    display: flex;
    position: absolute;
    top: 10%;
    right: 2.25rem;
  }
}
.footer__logo {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  height: 1.25rem;
  width: 7.5rem;
}
.footer__copyright {
  padding-left: 1rem;
  padding-top: 0;
  padding-bottom: 1rem;
  color: #FFFFFF;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-left: 3rem;
    padding-bottom: 2.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__info-one, .footer__info-three, .footer__info-two {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=shows.css.map */